:root {
    /* Colors */
    --primary: #C0DFA1;
    --secondary: #011936;
    --tertiary:#3366CC;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: montserrat;
    color: var(--secondary);
}

a {
    font-family: roboto;
    color: var(--tertiary);
}

/* Nav bar */

.nav-pills .nav-link {
    color: var(--secondary);

}
/* Adding a color to the active page on my navbar */
.nav-pills .nav-link.active {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--primary);
}

.navpill {
    border: 2px solid white;
}
/* Adding a border unto the inactive pages in the navbar */
.navpill:hover,
.navpill:focus {
    border: 2px solid var(--secondary);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover{
    border: none; 
    box-shadow: none;
    padding: 8px 10px 8px 10px;
}

.navbar-toggler:hover,
.navbar-toggler:active {
    background-color: var(--primary);
    padding: 8px 10px 8px 10px;
    border-radius: 1000px;
}


/* Hero Section */

/* Changing the colors of buttons in different states */

.btn-primary {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
}


.btn-primary:focus,
.btn-primary:hover {
    background-color: var(--secondary)!important;
}

.horizontal-divider {
    border: 12px solid var(--secondary);
    opacity: 100%;
}

/* Project Section */


.list-styles{
    list-style-type: disc; /* Adding back the circle that belong on the unordered list for each item */
}

.custom-link.text-body-tertiary {
    color: var(--tertiary);
}


/* Contact Section*/

.contact-form {
    padding-bottom: 100px; /* Increasing the padding at the end to the page so it doesn't look as short*/
}


/* Footer Section */

.footer-color {
    background-color: var(--secondary);  /* Modyfing the color for the footer section only  */
}

/* Skip links */

.skip-links{
    list-style: none;/*Styling the skip links so they stay accesible but don't look bad on a my portfolio*/
    margin: 0;
    padding: 0;
}
.skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
}

.skip-links a:focus{
    top: 0;
}